body {
    margin-bottom: 70px;
}

.headings {
    text-align: center;
}

.nav-item {
    font-size: 20px;
}

.nav-item:hover{
    background-color: aliceblue;
}

.about-body {
    font-size: large;
}

.card-text {
    font-size: 17px;
}

