body {
    margin-bottom: 70px;
};

.headings {
    text-align: center;
};

.nav-item {
    font-size: 20px;
};

.about-body {
    font-size: large;
};

.card-text {
    font-size: 17px;
};

.card-img-top{
    width: 214px;
    height: 214px;
};


